node_modules/.bin
node_modules/a*
node_modules/b*
node_modules/c*
node_modules/d*
node_modules/e*
node_modules/f*
node_modules/g*
node_modules/h*
node_modules/i*
node_modules/j*
node_modules/k*
node_modules/l*
node_modules/m*
node_modules/negotiator
node_modules/node-media-server/.vscode
node_modules/node-media-server/api
node_modules/node-media-server/public
node_modules/node-media-server/*.pem
node_modules/node-media-server/*.md
node_modules/node-media-server/*.csr
node_modules/node-rsa
node_modules/nanomatch
node_modules/normalize-path
node_modules/o*
node_modules/p*
node_modules/q*
node_modules/r*
node_modules/s*
node_modules/t*
node_modules/u*
node_modules/v*
node_modules/w*
node_modules/x*
node_modules/y*
node_modules/z*

.idea